<!DOCTYPE html>
<html>
  <head>
    <title>Spadea´s</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark">
    <%= link_to "Spadea´s Bar", cocktails_path, class: "navbar-brand letruski mx-3" %>
    <i class="fas fa-cocktail mx-3""></i>
    <form class="form-inline mx-3"">
      <%= link_to "Add Cocktail", new_cocktail_path, class: "btn btn-outline-light my-2 my-sm-0" %>
    </form>
  </nav>
    <%= yield %>
  </body>
</html>
